@charset "TUF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background: #e2adad url('images/pexels-cmonphotography-1809644.jpg') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

div.container{
    position: absolute;
    width: 350px;
    height: 550px;
    background-color: #251F21;
    border-radius: 10px;
    box-shadow: 0px 20px 40px 12px rgba(0, 0, 0, 0.425);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p#titulo{
    position: absolute;
    font-size: 0.9em;
    transform: translate(67px, -36px);
}

ul#fecha{
    width: 119px;
    columns: 3;
    list-style-type: none;
    list-style-position: inside;
    transform: translate(216px, -52px);
}

ul#fecha li{
    width: 44px;
    height: 35px;
    text-align: center;
    padding: 10px 0px;
}

ul#fecha li:hover{
    background-color: #353535;
}

ul#fecha li#X:hover{
    background-color: #C72B1C;
    border-radius: 0px 8px 0px 0px;
}

#menu-ico{
    position: absolute;
    font-size: 1.4em;
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 7px 0px;
    border-radius: 4px;
    transform: translate(10px, -38px);
}

#menu-ico:hover{
    background-color: #353535;
}

p#mode{
    position: absolute;
    font-weight: 600;
    font-size: 1.2em;
    transform: translate(51px, -30px);
}

#fixedOnTop{
    position: absolute;
    transform: translate(152px, -35px);
    padding: 9px;
    border-radius: 4px;
}

#fixedOnTop:hover{
    background-color: #353535;
}

#historic{
    position: absolute;
    transform: translate(310px, -37px);
    padding: 8px;
    border-radius: 4px;
}

#historic:hover{
    background-color: #353535;
}

div.historic {
    position: absolute;
    width: 330px;
    color: rgb(155, 155, 155);
    text-align: right;
    font-size: 0.95em;
    transform: translate(10px, 10px);
}

.result{
    position: absolute;
    font-size: 2.5em;
    text-align: right;
    width: 330px;
    transform: translate(10px, 45px);
}

div.macro ul{
    position: absolute;
    margin: 0px;
    width: 330px;
    columns: 6;
    list-style: none;
    list-style-position: inside;
    transform: translate(0px, 110px);
}

div.macro li{
    width: 55px;
    height: 35px;
    text-align: center;
    padding: 8px 0px;
    border-radius: 5px;
}

div.macro li:hover{
    background-color: #353535;
}

div.macro li.desativo{
    color: #7e7878;
    background-color: #251F21;
}

div.teclas table{
    position: absolute;
    transform: translate(2px, 147px);
}

div.teclas tr{
    height: 49.6px;
}

div.teclas td {
    width: 84.2px;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
}

div.teclas td.escuro{
    background-color: rgb(51, 51, 51);

}

div.teclas td.escuro:hover{
    background-color: rgb(63, 63, 63);
}

div.teclas td.cinza{
    background-color: rgb(63, 63, 63);
}

div.teclas td.cinza:hover{
    background-color: rgb(51, 51, 51);
}

div.teclas td.igual{
    background-color: rgb(105, 105, 105);
    color: black;
}

div.teclas td.igual:hover{
    background-color: rgb(94, 94, 94);
}